*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, rgb(126, 126, 243), rgb(57, 57, 117));
}

header{
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 400px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.555);

}



footer{
    color: #ffffff;
    text-align: center;
    font-style: italic;
}