@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
    --primay-color: rgb(26, 146, 140);
    --primay-color-darker: rgb(5, 61, 54);
}

*{
    box-sizing: border-box;
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    background: var(--primay-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em; /*Largura linha*/
}

.container{
    max-width: 640px;
    margin: 50px auto;  /* coloca conteudo no meio da pag (50px em cima e em baixo e laterais auto)*/
    background: #fff;
    padding: 20px;
    border-radius: 10px; /*Arredondar cantos*/
}

form input, form label, form button {
    display: block; /* faz com que cada um pule a linha*/
    width: 100%;
    margin-bottom: 10px;
}

form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus{
    outline: 1px solid var(--primay-color);
}

form button{
    border: none;
    background: var(--primay-color);
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    height: 50px;
    cursor: pointer; /*Quando passa por cima do butom*/
    margin-top: 30px;

}

form button:hover {
    background: var(--primay-color-darker);
}

